body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkcyan;
}

#container {
  background-color: #ffffff;
  max-width: 600px;
  width: 100%;
  display: block;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 2px 2px 10px #000;
}

ul.module-list {
  list-style: none;
}

.module-list li {
  padding-bottom: 10px;
}
